build/
cmake-build-*/
.idea/
.vs/
.vscode/

# Ignore cmake and build artifacts, in case someone trys to build in source dir.
CMakeFiles/
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
cmake_install.cmake
install_manifest.txt
Makefile
build.ninja
_deps/
OGL4Core2
OGL4Core2.config
*.a
*.sln
*.vcxproj
*.filters
*.user
*.dir/
Debug/
Release/
RelWithDebInfo/
MinSizeRel/
x64/
Win32/
